<footer class="footer">
    <div class="footer-container">
      <div class="footer-wrap">
        <div class="footer-address">
          <a class="footer-logo">
            <svg>
              <use href="./src/images/icons.svg#icon-logo" />
            </svg>
          </a>
          <address class="footer-address-wrap">
            <ul class="footer-address-list">
              <li class="footer-address-item">
                <a href="tel:+380684439426">+380684439426</a>
              </li>
              <li class="footer-address-item">
                <a
                  href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+Statele+Unite+ale+Americii/@40.7335892,-111.9600867,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?entry=ttu"
                >
                  <span class="address-text">
                    1678 S. Pioneer Road <br />
                    Salt Lake City <br />
                    UT 84104</span
                  >
                </a>
              </li>
            </ul>
          </address>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="footer-nav-item">
              <a href="#about-us">ABOUT US</a>
            </li>
            <li class="footer-nav-item">
              <a href="#catalog">CATALOG</a>
            </li>
            <li class="footer-nav-item">
              <a href="#sale">SALE</a>
            </li>
          </ul>
        </div>
        <div class="footer-socials">
          <ul>
            <li class="footer-social-list-item">
              <a href="https://facebook.com">
                <svg>
                  <use href="./src/images/icons.svg#icon-facebook" />
                </svg>
              </a>
            </li>
            <li class="footer-social-list-item">
              <a href="https://instagram.com">
                <svg>
                  <use href="./src/images/icons.svg#icon-instagram" />
                </svg>
              </a>
            </li>
            <li class="footer-social-list-item">
              <a href="https://youtube.com">
                <svg>
                  <use href="./src/images/icons.svg#icon-youtube" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-subscribe">
        <form class="subscribe">
        <p class="subscribe-label">SUBSCRIBE TO THE NEWSLETTER</p>
        <div class="subscribe-container">
          <input
          type="email" name="email" class="subscribe-email"
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" autocomplete="off" placeholder="E-mail"/>
          <button type="submit" class="subscribe-button"> <span class="subscribe-text">SUBSCRIBE</span></button>
          </div>
        </div>
      <div class="footer-terms">
        <p class="footer-terms-text">
          ©2022 The Watch Spot. All rights reserved.
        </p>
        <ul>
          <li class="footer-terms-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="footer-terms-item">
            <a href="#">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</html>
