<section class="watches">
  <div class="new-watches">
    <h5>New watches</h5>
    <h2>Green And Bronze—The Match Made In Heaven</h2>
    <ul>
      <li class="animate-on-scroll">
        <div class="new-image animate-on-scroll">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./images/newwatch-img1-d.jpg    1x,
                ./images/newwatch-img1-d-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/newwatch-img1-t.jpg    1x,
                ./images/newwatch-img1-t-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/newwatch-img1-m.jpg    1x,
                ./images/newwatch-img1-m-2x.jpg 2x
              "
            />
            <img
              class="watch-one sliding"
              src="./images/newwatch-img1-m.jpg"
              alt="Watch presentation"
            />
          </picture>
        </div>
      </li>
      <li class="animate-on-scroll">
        <div class="new-image">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./images/newwatch-img2-d.jpg    1x,
                ./images/newwatch-img2-d-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/newwatch-img2-t.jpg    1x,
                ./images/newwatch-img2-t-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/newwatch-img2-m.jpg    1x,
                ./images/newwatch-img2-m-2x.jpg 2x
              "
            />
            <img
              class="watch-one sliding"
              src="./images/newwatch-img2-m.jpg"
              alt="Watch presentation"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
