/* General styles */

:root {
  --standard-main-color: rgba(20, 20, 20, 1);
  --standard-green: rgba(30, 40, 39, 1);
  --standard-white: rgba(255, 255, 255, 1);
  --standard-secondary-text-color: rgba(20, 20, 20, 0.5);
}

body {
  font-family: 'Epilogue', sans-serif;
}

/* Styles for Header - XX */

/* Styles for Header END */

/* Styles for About us section - Silvia SOESCU */

.about-us-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
}

.about-us-text h2 {
  padding: 0;
  margin: auto;
  color: var(--standard-green);
    font-family: 'Epilogue', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.64px;
}

.about-us-text p {
  color: var(--standard-secondary-text-color);
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 125%;
    letter-spacing: -0.28px;
}

.about-us-section span {
  background: url(../images/watchspot.gif) lightgray -169.228px -6.319px / 200.103% 103.273% no-repeat;
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 365px;
  margin: 0 auto;
}

 @media screen and (min-width: 768px) {

.about-us-section {
  padding: 64px 32px 128px 32px;
}

  .about-us-text {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .about-us-text h2 {
    margin-left: 0;
    margin-top: 0;
      font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -0.8px;
  }

  .about-us-text p {
    margin: 0 auto;
    width: 35%;
  }

    .about-us-section span {
      width: 100%;
      height: 465px;
      background-size: cover;
      background-position: right;
 }

}

 @media screen and (min-width: 1158px) {

.about-us-section {
  width: 100vw;
  padding: 80px 132px;
}

  .about-us-text h2 {
    width: 25%;
    margin-right: 0;
    padding-right: 50px;
  }

    .about-us-text p {
        margin-left: 0;
      }

  .about-us-section span {
      width: 75%;
      height: 500px;
      background-size: cover;
      background-position: center;
      margin-right: 0;
    }

 }

/* Styles for About us section END */

/* Styles for Catalog section - XX */

/* Styles for Catalog section END */

/* Styles for Catalog MODAL - Andrei GABRIEL */

/* Styles for Catalog MODAL END */

/* Styles for New watches section - XX */

/* Styles for New watches section END */

/* Styles for Sale section - XX */

/* Styles for Sale section END */

/* Styles for Footer section - XX */

/* Styles for Footer section END */
